.route.login {
    & .register-section {
        max-width: 30rem;
        margin: 0 auto;

        & header {
            margin-bottom: 1rem;
        }
    }

    & section, & h2 {
        max-width: 30rem;
        margin: 0 auto;
    }

    & h2 {
        margin-bottom: 1rem;
    }
}
